.navbar,
.navbar-default {
    background-color: #04A2FF;
    border: 0;

}

.navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}